.reportPostModalContainer {
  background-color: rgba(211, 211, 211, 0.096) !important;
}

.reportPostModalHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-size: 1.875rem;
}

.reportPostModalBody {
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  font-size: 1.25rem;
}

.reportItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  font-size: 1.25rem;
}

.footerBtn {
  font-size: 1.25rem;
}

.overlayContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid lightgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.overlayItem {
  display: flex;
  justify-content: flex-start;
  margin-right: 5px;
}

.reportContainerBtn {
  background-color: white;
  color: black;
  border: none;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 20px;
}

.copyLinkBtnStyle {
  width: 20px;
  display: flex;
  justify-content: center;
}

.dropdownBtn {
  background-color: white;
  border: none;
  width: 40px;
}

.dropdownItem {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 8px;
}

.dropdownItem:hover .reportContainerBtn {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
}

.dropdownItem:visited {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
}

.dropdownItem:hover .dropdownImage {
  filter: invert(1);
}

@media only screen and (max-width: 640px) {
  .dropdownBtn {
    background-color: white;
    border: none;
    width: 20px !important;
  }
}
