.AddPostContainer {
  background-color: white;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.AddPostEditorContainer {
  background-color: white;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  transition: height 0.4s cubic-bezier(1, 0.05, 0.17, 0.95) 0s;
}

.AddPostContainer .addPostButton {
  width: 100%;
  margin-left: 20px;
  border-color: white;
  background-color: white;
  color: grey;
  cursor: pointer;
  border: none;
}

.AddPostContainer .addPostButton h4 {
  float: left;
}

.AddPostField {
  margin: 20px;
}

.AddPostItems {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
}

.AddPostItems button {
  padding: 10px;
  width: 125px;
  height: 50px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.AddPostItems button:hover {
  background-color: rgb(171, 166, 166);
}

.AddPostItems img {
  margin-left: 10px;
}

.AllPostscontainer {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.postHead{
  display:none;

}
.postHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.postHeaderLeft {
  display: flex;
  align-items: center;
}

.postHeaderRight {
  display: flex;
  align-items: center;
  gap: 10px;
}

.postDetailContainer {
  margin-left: 20px;
}

.postDescription {
  padding: 15px;
  padding-top: 0;
  font-size: 14px;
  line-height: 18px;
  color: #091329;
}

.postDescription p {
  margin: 0;
}

.postContent {}

.postActions {
  display: flex;
  gap: 100px;
  justify-content: space-around;
  position: relative;
  margin-bottom: 10px;
}

.postActions button {
  padding: 10px;
  width: 70px;
  height: 70px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.postActions button:hover {
  background-color: rgb(171, 166, 166);
}

.postContainer {
  margin-bottom: 20px;
  background-color: white;
  /* padding: 20px; */
  position: relative;
}

.AddPostContainer .form-control:focus {
  box-shadow: none;
}

.AddPostEditorContainer .form-control:focus {
  box-shadow: none;
}

.docPreviewContainer .openPrevButton button:hover {
  background-color: grey;
}

.AllPostscontainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* .postFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
} */

.postOwner {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #283895;
}

.postCreateDate {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #AFB0B4;
  margin: 0;
}

.postUserImage {
  width: 1.75rem;
}

.postMoreOptionsImage {
  width: 1.375rem;
}

.postCrossImage {
  width: 20px;
  /* margin-left: 1.875rem; */
}

.postLikeImage {
  width: 1.5rem;
}

.postCommentImage {
  width: 1.5rem;
}

.postShareImage {
  width: 1.5rem;
}

.postLikeCount {
  font-weight: 600;
}

.postCommentCount {
  font-weight: 600;
}

.commentUserImage {
  /* width: 60px;
  margin-right: 10px; */
  width: 30px;
  margin-right: 10px;
  height: 30px;
  margin-left: 28px;
  display: flex;
  font-weight: 10px;
  font-weight: 500;
}


.postCommentButton {
  float: right;
  margin-left: 10px;
  border-radius: 10px;
  padding: 5px;
  border: none;
  background-color: #008cba;
  color: white;
  width: 20%;
}

.commentContainer {
  position: relative;
}

.upvoteDownvoteContainer {
  position: absolute;
  width: 50px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: -10px;
  cursor: pointer;
  gap: 10px;
  background-color: rgb(202, 197, 197);
}

.loadCommentContainer {
  overflow-y: auto;
  height: 250px;
}

.eventTypeDropdown button {
  width: 160px;
}

.loadCommentContainer::-webkit-scrollbar {
  width: 8px;
}

.loadCommentContainer::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #EFEFEF;
}

.loadCommentContainer::-webkit-scrollbar-thumb {
  background-color: #C2C2C2;
  border-radius: 4px;
}

@media only screen and (max-width: 640px) {
  .postOwner {
    font-weight: 750;
    color: navy;
    font-size: 0.75rem;
  }

  .postUserImage {
    width: 2rem;
  }

  .postCreateDate {
    font-weight: 700;
    color: grey;
    font-size: 0.75rem;
  }

  .postMoreOptionsImage {
    width: 1.25rem;
  }

  .postCrossImage {
    width: 20px;
  }

  .postLikeImage {
    width: 1.25rem;
  }

  .postCommentImage {
    width: 1.25rem;
  }

  .postShareImage {
    width: 1.25rem;
  }

  .postActions {
    display: flex;
    gap: 0.125rem;
    justify-content: space-around;
    margin-bottom: 0.125rem;
  }

  .postActions button {
    padding: 5px;
    width: 50px;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 10px;
  }

  .postLikeCount {
    font-weight: 600;
    font-size: 0.625rem;
  }

  .postCommentCount {
    font-weight: 600;
    font-size: 0.625rem;
  }

  .commentUserImage {
    width: 1.875rem;
    margin-right: 0.3125rem;
  }

  .postCommentButton {
    float: right;
    margin-left: 5px;
    border-radius: 5px;
    padding: 5px;
    border: none;
    background-color: #008cba;
    color: white;
    width: 4.375rem;
    font-size: 0.625rem;
  }
}

.likecomments {
  height: 0.95rem;
  width: 0.95rem;
  margin-bottom: 6px;
}

.modalContainer {
  height: 30px;
  width: 100%;
  background-color: red;
}

.commentHeadingTop {
  font-size: 15px;
  margin-top: 2px;
  margin-bottom: -1px;
  font-weight: 500;
  margin-left: 8px;
}

.commentHeading {
  font-size: 13px;
  margin-top: 2px;
  margin-bottom: -1px;
  font-weight: 500;
  margin-left: 14px;
}

@media screen and (max-width: 600px) {
  .postActions {
    gap: 3.125rem;
  }

  .postFooter {
    gap: 3.125rem;
  }
}

@media screen and (max-width: 660px) {
  .likesAndComments {
    display: flex;
    gap: 0.125rem;
    font-size: 0.8125rem;
  }
}

@media screen and (max-width: 550px) {
  .postActions button {
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 0.625rem;
  }

  .postLikeImage {
    height: 1.25rem;
    width: 1.25rem;
  }
}

@media screen and (max-width: 500px) {
  .postActions {
    gap: 2.5rem;
  }

  .likesAndComments {
    font-size: 0.9375rem;
  }

  /* .postFooter {
    gap: 1.875rem;
    justify-content: space-between;
  } */
}

@media screen and (max-width: 470px) {
  .postActions button {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.625rem;
  }

  .postLikeImage {
    height: 1.25rem;
    width: 1.25rem;
  }

  .postFooter {
    gap: 0.625rem;
  }

  .postActions {
    gap: 1.25rem;
  }

  .commentHeadingTop {
    font-size: 13px;
    margin-left: 5px;
  }

  .commentHeading {
    font-size: 11px;
    margin-left: 7px;
  }
}