.wrapper {
  display: flex;
  position: absolute;
  background-color: aliceblue;
  width: 50%;
  margin-left: 10%;
  margin-top: 1%;
  height: 350px;
  border-radius: 8px;
}
.leftSection {
  display: flex;
  position: relative;
  width: 40%;
  cursor: pointer;
}

.leftSection img{
    border-bottom-left-radius: 14px;
    border-top-left-radius: 14px;
}
.rightSection {
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  position: relative;
  width: 51%;
}
.title {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  height: 13%;
  margin-bottom: 3%;
  /* background-color: #0048f0; */
}
.cardDescription {
  display: flex;
  width: 100%;
  height: 35%;
  margin-bottom: 3%;
    font-size: 14px;
  /* background-color: blueviolet; */
}
.cardDescription a{
    color: #0048f0;
    text-decoration: none;
    font-weight: bold;
}

.cardTags {
  display: flex;
  width: 100%;
  height: 17%;
  margin-bottom: 3%;
  /* background-color: rgb(229, 17, 17); */
  align-items: center;
}
.cardTag {
  display: flex;
  justify-content: center;
  background-color: #dde4f6;
  border-radius: 20px;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 6px;
  margin-right: 3px;
  height: 80%;
  font-size: small;
  /* color:#0048f0; */
  font-weight: 600;
}
.cardTag a{
    color: #0048f0;
    text-decoration: none;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 20%;
  margin-bottom: 2%;
  /* background-color: rgb(95, 229, 17); */
}
.infoWrapperTag{
    display: flex;
    flex-direction: row;
}
.infoWrapperTagData{
    margin-left: 8px;
    font-size: small;
    font-weight: bold;
    text-align: center;
    margin-top: 2px;
}

.buttons {
  display: flex;
  width: 32%;
  height: 13%;
  justify-content: space-between;
  margin-left: 68%;
  /* background-color: rgb(197, 17, 229); */
}
.button{
    border-left:none ;
    border-right:none ;
    border-top:none ;
    border-bottom:none ;
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
/* .buttonDescription{
    display: none;
} */
/* .button:hover +  */

.button img[title]{
    /* display: block;
     background-color: black;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    
     position: absolute; 
    top: 73%;
    right: 0%;
    border-radius:6px ; */
    color: blue;
} 

