.headerWrapper {
  width: 100%;
  height: 55vh;
  margin-bottom: 30px;
  padding: 20px;
  /* background-color: rgb(242, 240, 240); */
  /* background: url('../assets/images/ProfileCover.jpg') no-repeat; */
  background-size: cover;
  background-position: center center;
}

.groupHeaderWrapper {
  width: 100%;
  height: 55vh;
  /* margin: 10px; */
  margin-bottom: 126px;
  padding: 20px;
  /* background-color: rgb(242, 240, 240); */
  /* background: url('../assets/images/groupBackground.svg') no-repeat; */
  background-size: cover;
  background-position: center center;
}

.content {
  display: flex;
  justify-content: space-between;
  height: 55vh;
  align-items: flex-end;
}

.groupContent {
  display: flex;
  justify-content: space-between;
  height: 64vh;
  align-items: flex-end;
}

.profileImage {
  border: 2px solid black;
  display: flex;
  /* border-radius: 10px; */
}

.leftSection {
  /* width: 23%; */
  display: flex;
  justify-content: space-between;
}

.profileInfoSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  width: 90%;
}

.followers {
  display: flex;
  justify-content: space-between;
  font-size: small;
  color: white;
  text-shadow: 1px 1px gray;
}

.name {
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px gray;
}

.editProfileBtn {
  margin-top: 25px;
  width: 105px;
  background-color: #47d7ac;
  color: white;
  padding: 6px;
  border-radius: 5px;
  border: none;
}

.editProfileBtn:hover {
  background-color: #3aaa88;
}

.editProfileBtn:active {
  background-color: #2e5f52;
}

.editBannerBtn {
  margin-bottom: 40px;
  margin-right: 10px;
  border: 1px solid white;
  padding: 6px;
  border-radius: 5px;
  color: white;
  background: transparent;
}

.joinButton {
  position: relative;
  bottom: 14px;
  color: black;
  border: 0.5px solid black;
}

.joinButton:hover {
  border: 0.5px solid rgb(152, 148, 148);
}

.leaveButton {
  position: relative;
  bottom: 14px;
  color: red;
  border: 0.5px solid black;
}

.leaveButton:hover {
  border: 0.5px solid rgb(152, 148, 148);
}

.groupName {
  position: relative;
  font-size: 32px;
  font-weight: 500;
  font-family: initial;
}

.dotLoaderProfilePic {
  width: 150px;
  height: 150px;
}

.dotLoaderBannerPic {
  height: 10px !important;
  position: absolute;
  left: 50%;
  top: 40%;
}

.followersButton {
  border: none;
  background: transparent;
  color: white;
}

.followersPopup {
  margin-top: 150px;
}

.popupButtonContainer {
  margin-left: 25px;
}

.popupListContainer {
  margin: 10px;
  height: 500px;
  overflow-y: scroll;
}

.popupListContainer::-webkit-scrollbar {
  width: 8px;
}

.popupListContainer::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #efefef;
}

.popupListContainer::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  border-radius: 4px;
}

.popupMainContainer {
  display: flex;
  flex-direction: column;
}

.followersFollowingContainer {
  display: flex;
  flex-wrap: wrap;
}

.userCard {
  margin: 6px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userImage {
  width: 170px;
  height: 170px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.seeProfileButton {
  margin-bottom: 5px;
  width: 70%;
}

.seeProfileButton span {
  text-decoration: none !important;
  background-color: #47d7ac;
  padding: 2px;
  color: white;
  font-size: 14px;
  display: grid;
  place-items: center;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
}

.userName {
  padding: 5px;
  font-size: 14px;
}

.popupButtonActiveState {
  border: none;
  padding: 8px;
  background-color: #47d7ac;
  color: white;
  border-radius: 25px;
  font-size: 14px;
}

.popupButtonInActiveState {
  border: 1px solid #47d7ac;
  padding: 8px;
  background-color: white;
  color: #47d7ac;
  border-radius: 25px;
  font-size: 14px;
}
.editGroupBannerBtn {
  margin-bottom: 40px;
  margin-right: 10px;
  border: 1px solid #47d7ac;
  padding: 6px;
  border-radius: 5px;
  color: #47d7ac;
  background: transparent;
}
/* .groupPageLogo {
 
} */
.buttonGroup {
  position: relative;
  top: 16px;
  right: 10px;
  row-gap: 48px;
}
.groupLeftSection {
  position: relative;
  bottom: 50px;
  left: 40px;
}

@media only screen and (max-width: 640px) {
  .groupHeaderWrapper {
    height: 16vh;
  }

  .groupContent {
    height: 16vh;
  }

  .joinButton {
    height: 30px;
    width: 90px;
    font-size: 10px;
  }

  .joinButton > svg {
    height: 14px;
    width: 14px;
  }

  .leaveButton {
    height: 30px;
    width: 90px;
    font-size: 10px;
  }

  .leaveButton > svg {
    height: 14px;
    width: 14px;
  }

  .leftSection {
    height: 56px;
    width: 154px;
    margin-bottom: 6px;
  }
}
