.cardContainer {
  width: 95%;
  background-color: whitesmoke;
  padding: 3px;
}
.cardbody {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
}

.cardTitle {
  padding: 0rem 0rem 0.5rem 0.5rem;
  font-size: 18px;
  font-weight: 700;
  color: #000E46;
}

.cardDescription {
  padding: 0rem 0rem 0.5rem 0.5rem;
  font-size: 14px;
  color: #82888F;
}
