.followButton {
  background-color: rgba(12, 191, 146, 0.865);
  border-color: rgb(65, 143, 254);
  color: #fff;
  /* font-size: 10px; */
  font-weight: bold;
  width: 100%;
  margin-top: 2px;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: unset;
}

.followingButton {
  background-color: rgba(12, 191, 146, 0.865);
  /* background-color:(128, 128, 128, 0.822); */
  color: #fff;
  border-color: rgb(65, 143, 254);
  /* background-color: #fff; */
  /* font-size: 1.0625rem; */
  /* font-size:9px; */
  font-weight: bold;
  width: 95%;
  /* padding: 6px;
  margin-top: 6px;
  border-radius: 10px; */ 
  /* margin-top: 6px; */
  /* padding: 4px;
  margin-top: -20px;
  border-radius: 8px;
  border-color: #0048f0; */
  margin-top: 2px;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: unset;
}
