.groupListContainer{
  background-color: whitesmoke;
  margin-left: 10px;
}
.groupListTitle {
  font-size: 20px;
  margin-left: 10px;
  color: #283895;
  /* text-shadow: 2px 2px 1px rgb(156, 179, 179); */
}
.groupListBox{
  /* background-color: white; */
}
.groupListLogo {
  height: auto;

  max-width: 100%;
  border-radius: 50%;
}
.groupList {
  background: whitesmoke;
  margin-top: 5px;
  padding: 1px;
  padding-bottom: 16px;
  height: 276px;
  overflow-x: auto;
  overflow-y: auto;
}

.groupList::-webkit-scrollbar {
  width: 5px;
  }
  
  .groupList::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #EFEFEF;
  }
  
  .groupList::-webkit-scrollbar-thumb {
  background-color: #C2C2C2;
  border-radius: 4px;
  }

.groupListHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid black; */
  padding: 5px 16px;
}
.groupListHeadingLeft {
  display: flex;
  align-items: center;
}
.groupListName {
  margin-left: 12px;
  font-size: 16px;
  font-weight: 400;
}
.moreOptionList {
  position: absolute;
  background: rgb(240, 235, 235);
  border-radius: 10px;
  padding: 10px;
  left: 260px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin-top: 4px;
}
.moreOptionList > button {
  color: rgb(16, 110, 190);
  cursor: pointer;
  border: none;
  padding: 4px;
  margin-bottom: 10px;
  border-radius: 10px;
  /* background: rgb(233, 243, 243); */
  /* box-shadow: 5px 5px 2px rgb(156, 179, 179); */
  font-size: small;
}
.groupListMoreLogo {
  cursor: pointer;
}
.createGroupHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.createGroupHeading > button {
  border-radius: 8px;

  box-shadow: 5px 5px 2px rgb(156, 179, 179);
}
.createGroupBtn{
  color: rgb(16, 110, 190);
  border: none;
  width: 80%;
}
