.groupMemberListLogo {
  height: auto;
  max-width: 100%;
  border-radius: 50%;
}
.groupMemberList {
  background: #eeeaea;
  margin: 16px;
}
.groupMemberListHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(143, 135, 135);
  padding: 5px 16px;
  cursor: pointer;
}
.groupMemberListHeading:hover {
  background: #fff;
}
.groupMemberListHeadingLeft {
  display: flex;
  align-items: center;
}
.groupMemberNameAndEmail {
  margin-left: 12px;
}
.groupMemberListName {
  margin-bottom: 0;
}
.groupMemberListEmail {
  font-size: 12px;
}
.groupMemberTitle {
  margin-left: 10px;
  color: #283895;
  text-align: center;
  margin-top: 8px;
  text-shadow: 2px 2px 1px rgb(156, 179, 179);
}
