.container {
  display: flex;
  gap: 1%;
  width: 100%;
  height: 100vh;
  background-color: rgb(212, 212, 227);
}

.leftContainer {
  display: flex;
  width: 60%;
}
.welcomeText {
  width: 60%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 0.625rem;
  padding: 1.875rem;
}
.welcomeTextDescription {
  color: rgb(110, 108, 108);
}
.img {
  width: 40%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.rightContainer {
  display: flex;
  flex-direction: column;
  width: 39%;
  align-items: center;
  justify-content: center;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55%;
  width: 80%;
  background-color: white;
  border: 0.125rem solid rgb(176, 175, 175);
}
.loginField {
  margin-bottom: 1rem;
}
.login {
  width: 100%;
  padding: 0.3125rem 1.5625rem;
}
.formButton {
  width: 80%;
  background-color: #0d6efd;
  color: white;
  border-radius: 0.375rem;
  margin-top: 0.625rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  padding: 0.3125rem 0.625rem;
  margin-bottom: 0.125rem;
}

.btn {
  background-color: #0d6efd;
  width: 80%;
  padding: 0.3125rem 0.625rem;
  border: none;
  border-radius: 0.375rem;
}
.btn a {
  text-decoration: none;
  color: white;
}

.loginField {
  width: 100%;
}
.loginInput {
  padding: 0.3125rem 0.625rem;
  border-radius: 0.375rem;
  outline: none;
  width: 100%;
  border: 0.0625rem solid rgb(176, 175, 175);
  background-color: rgb(236, 236, 244);
}

.label {
  display: block;
  margin: 0.125rem;
}

.passwordMismatchWarning {
  font-size: 0.75rem;
  font-weight: 1000;
  color: red;
}

.formContainerBottom {
  width: 100%;
  padding: 0.3125rem 1.5625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* media queries */

@media screen and (max-width: 62.4375rem) {
  .container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* height: 100vh; */
    gap: 0.3125rem;
  }
  .leftContainer {
    width: 100%;
    align-items: center;
  }
  .welcomeText {
    padding: 0.9375rem;
    gap: 0.3125rem;
  }
  .welcomeTextHeading {
    font-size: large;
  }
  .welcomeTextDescription {
    font-size: 1.25rem;
  }
  .img {
    padding: 0.9375rem;
    align-items: center;
  }
  .rightContainer {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .formContainer {
    height: 100%;
    width: 60%;
    padding: 0 1.25rem;
  }
  .login {
    padding: 0.1875rem 0.75rem;
  }
  .loginField {
    margin-bottom: 0;
  }
  .label {
    font-size: small;
  }
  .loginInput {
    padding: 0.1875rem 0.3125rem;
    border-radius: 0.1875rem;
  }
  .btn {
    padding: 0.1875rem 0.3125rem;
  }
  .formButton {
    padding: 0.1875rem 0.3125rem;
  }
}
@media screen and (max-height: 43.75rem) {
  .formContainer {
    height: auto;
  }
}

@media screen and (max-width: 37.5rem) {
    .formContainer {
      height: auto;
    }
    .btn{
        font-size: 0.9375rem;
    }
    .formButton{
        font-size: 0.9375rem;
    }
    .text{
        font-size: 0.9375rem;
    }
    .formContainer {
        height: 100%;
        width: 90%;
        padding: 0 1.25rem;
      }
      .welcomeTextDescription {
        font-size: 0.75rem;
      }
  }
  