.wrapper {
  width: 530px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  border: 2px solid #c9c6c6;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  padding: 7px;
  width: 90%;
}

.button {
  margin-left: auto;
}

.header a {
  text-decoration: none;
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}

.heading {
  font-size: 18px;
  font-weight: bold;
}

.img {
  border-radius: 60%;
}

.name {
  font-weight: bold;
}

.details {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
