.wrapper {
  font-family: Inter, monospace;
  background-color: lightgrey;
  /* max-height: 560px; */
  overflow-y: auto;
  margin: 20px;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 2px solid #c9c6c6;
}

.flexx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  background-color: white;
  border-radius: 10px;
  justify-content: space-around;
  margin: 10px;
  padding: 7px;
  width: 97%;
  height: 80px;
}

.itemHalfPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 7px;
  width: 95%;
}

.button {
  margin-left: auto;
}

.header a {
  font-size: 1.375rem;
  text-decoration: none;
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  width: 98%;
}

.heading {
  font-size: 1.5625rem;
  font-weight: bold;
}

.img {
  border-radius: 60%;
}

.name {
  font-size: 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.details {
  display: flex;
  margin: 0 auto;
}

.detailsContainer {
  margin-left: 10px;
}

.speciality {
  padding-right: 5px;
}

.firstRow {
  display: flex;
}

.backbtn {
  margin-top: 10px;
  margin-left: 40px;
}
