@font-face {
  font-family: 'Equip-Regular';
  src: url('../assets/fonts/EquipExtended-Regular.eot');
  src: url('../assets/fonts/EquipExtended-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/EquipExtended-Regular.woff2') format('woff2'),
    url('../assets/fonts/EquipExtended-Regular.woff') format('woff'),
    url('../assets/fonts/EquipExtended-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Equip-Medium';
  src: url('../assets/fonts/EquipExtended-Medium.eot');
  src: url('../assets/fonts/EquipExtended-Medium.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/EquipExtended-Medium.woff2') format('woff2'),
    url('../assets/fonts/EquipExtended-Medium.woff') format('woff'),
    url('../assets/fonts/EquipExtended-Medium.ttf') format('truetype');
}
.container {
  display: flex;
  flex-direction: row;
  margin: 12px 0 12px 0px;
  align-items: center;
}
.searchBox {
  border: 1px solid #b8b8b8;
  border-radius: 4px;
  padding: 8px 12px;
  display: flex;
  flex: 1;
  gap: 10px;
  position: relative;
}

.searchForm {
  display: flex;
  align-items: center;
  width: 100%;
}

.searchBoxText {
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  height: 18px;
  flex: 1;
}

.searchBoxText::placeholder {
  color: #b4b7bb;
}

.searchBtn {
  background-color: transparent;
  border: none;
}

.suggestionBox {
  position: absolute;
  width: 100%;
  max-height: 200px;
  border-radius: 4px;
  overflow-y: auto;
  left: 0;
  top: calc(100% + 5px);
  border: 1px solid #b8b8b8;
}

.suggestionList {
  padding: 10px;
  cursor: pointer;
  list-style: none;
  font-family: 'Equip-Regular';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

.suggestionList:last-child {
  border-bottom: none;
}

.suggestionBox::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.suggestionBox::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: white;
  height: 1px;
}

.suggestionBox::-webkit-scrollbar-thumb {
  /* background-image: url('./../assets/images/arrow.png'); */
  background-position: center top;
  background-repeat: no-repeat, no-repeat;
  background-size: 50px;
  background-color: #ced0d4;
}

.darkBackground {
  background: #323436;
}

.lightBackground {
  background: #FFFFFF;
}

.darkText {
  border-bottom: 1px solid #535455;
  color: #cccccc;
}

.lightText {
  border-bottom: 1px solid #dfdfdf;
  color: #a5a9ae;
}

.lightText * {
  background-color: #f8f8f8 !important;
  color: #cccccc !important;
}

.lightText:hover {
  background-color: #f8f8f8;
}

.lightText *:hover {
  background-color: #f8f8f8 !important;
}

.darkText * {
  background-color: #323436 !important;
  color: #cccccc !important;
}

.darkText:hover {
  background-color: rgba(204, 204, 204, 0.281);
}

.darkText *:hover {
  background-color: rgba(204, 204, 204, 0.281) !important;
}

/* .searchInput.active .resultBox{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
} */

/* .resultBox li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.searchInput.active .resultBox li{
  display: block;
}
.resultBox li:hover{
  background: #efefef;
}

.searchInput .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
} */

@media screen and (max-width: 768px) {
  .container {
    margin: 10px 0;
  }

  .searchBox {
    padding: 2px;
  }

  .searchBtn {
    padding: 0;
  }

  .searchBoxText {
    margin-left: 5px;
    width: calc(100% - 27px);
    height: auto;
  }
}
