
.bodyContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* background: red; */
  }
  .sideNav {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding-top: 50px;
    padding: 0.3125rem 0.625rem;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 7%;
    left: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 20px;
  }
  
  
  .sideNavTop {
      width: auto;
      height: 100vh;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      padding-top: 50px;
      padding: 0.3125rem 0.625rem;
      height: 100%;
      width: px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: whitesmoke;
      overflow-x: hidden;
      padding-top: 20px;
    }
    
  
  .actionBtn {
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 0.3125rem;
  }
  
  .activeBtn {
    margin-top: 0.3125rem;
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    font-weight: 500;
    box-shadow: 0px 1px 1px 1px black;
  }
  
  .listContainers {
    margin-left: 165px;
    height: 100%;
    width: 100%;
  }
  
  .filterContainer{
    margin-right: 6.25rem;
  }
  
  