.toastContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: black;
  min-height: 2.5rem;
  max-width: 20.5rem;
  border-radius: 12px;
  z-index: 999998;
  animation: 'toast-slide-up 0.3s';
  will-change: transform;
}

.toastHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 20px;
  color: #fff;
}

.success {
  background-color: rgb(65, 143, 254);
  border-color: rgb(65, 143, 254);
}

.error {
  background-color: red;
  border-color: rgb(223, 34, 34);
}

.toastHeader button {
  color: #fff;
}

.toastBody {
  font-weight: bold;
  font-size: 15px;
  background-color: white;
  color: black;
}

@media only screen and (max-width: 640px) {
  .toastContainer {
    min-height: 2.5rem;
    max-width: 150px;
    border-radius: 12px;
    bottom: 2rem;
    right: 2rem;
  }

  .toastHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 0.625rem;
    color: #fff;
  }

  .toastBody {
    font-weight: bold;
    font-size: 0.625rem;
    background-color: white;
    color: black;
  }
}
