<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<publish>
				<processor patch:after="*[@type='Sitecore.Publishing.Pipelines.Publish.ProcessQueue, Sitecore.Kernel']" type="XmCloudAccelerator.SitecoreExtensions.Processors.ItemProcessedProcessor, CommunityAccelerator"/>
			</publish>
		</pipelines>
	</sitecore>
</configuration>