<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<pipelines>
			<!--<preprocessRequest>
				--><!-- FIX: fix if "http,https" is in the Settings.LoadBalancingScheme header --><!--
				<processor patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.OverrideDialogs, Sitecore.Speak.Applications']" 
						   type="DockerExamples.Website.Pipelines.LoadBalancingSchemeFix, DockerExamples.Website" role:require="Standalone or ContentManagement or ContentDelivery" />
			</preprocessRequest>-->
		</pipelines>
		<layoutService>
			<configurations>
				<config name="default">
					<rendering type="Sitecore.LayoutService.Configuration.DefaultRenderingConfiguration, Sitecore.LayoutService">
						<renderingContentsResolver type="Sitecore.LayoutService.GraphQL.LayoutService.GraphQLAwareRenderingContentsResolver, Sitecore.LayoutService.GraphQL" resolve="true" patch:source="Sitecore.LayoutService.GraphQL.config">
							<IncludeServerUrlInMediaUrls>false</IncludeServerUrlInMediaUrls>
						</renderingContentsResolver>
						<renderingContentsResolver type="Sitecore.LayoutService.ItemRendering.ContentsResolvers.RenderingContentsResolver, Sitecore.LayoutService">
							<IncludeServerUrlInMediaUrls>false</IncludeServerUrlInMediaUrls>
						</renderingContentsResolver>
					</rendering>
				</config>
				<config name="sxa-jss">
					<rendering>
						<renderingContentsResolver type="Sitecore.XA.JSS.Foundation.Presentation.ContentsResolvers.RenderingContentsResolver, Sitecore.XA.JSS.Foundation.Presentation">
							<IncludeServerUrlInMediaUrls>false</IncludeServerUrlInMediaUrls>
						</renderingContentsResolver>
					</rendering>
				</config>
				<config name="jss">
					<rendering type="Sitecore.LayoutService.Configuration.DefaultRenderingConfiguration, Sitecore.LayoutService">
						<renderingContentsResolver type="Sitecore.LayoutService.ItemRendering.ContentsResolvers.RenderingContentsResolver, Sitecore.LayoutService">
							<IncludeServerUrlInMediaUrls>false</IncludeServerUrlInMediaUrls>
						</renderingContentsResolver>
					</rendering>
				</config>
			</configurations>
		</layoutService>
	</sitecore>
</configuration>
